{% extends "base.html" %}
{% load static %}

{% block title %}
    My blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static "blog/images/FILE.jpg" %}"alt="Tomasz - Author Of This Blog" />
        <h2>TOMASZ'S BLOG</h2>
    </header>
    <p>Hi, I am Tomasz and I am very excited to present you my first blog built up with Django!</p>
</section>

<section id="latest-posts">
    <h2>My latest Thoughts</h2>

    <ul>
    {% for post in posts%}
        {% include "blog/includes/post.html" %}
    {% endfor%}
    </ul>
</section>

<section id="about">
    <h2>What I do</h2>
    <p>
        I love programming and helping people
    </p>
    <p>
        My goal is to keep growing as a developer!
    </p>
</section>
{% endblock %}